<p>{% if user == post.author or user.is_superuser %}
    <a href="{% url 'posts:post_edit' post.pk %}"> <b>Редактировать </b></a>
    {% endif %}
  </p>
  <p>{% if user == post.author or user.is_superuser or user.is_staff or user.is_staff %}
    <a href="{% url 'posts:delete_post' post.pk %}"> <b>Удалить </b></a>
    {%if user.is_superuser or user.is_staff %}
    <p><a href="{% url 'posts:important' post.pk %}"> <b>Закрепить </b></a></p>
    <a href="{% url 'posts:unimportant' post.pk %}"> <b>Открепить </b></a>
    {%endif%}
    {% endif %}
  </p> 
  <p>
    <a href="{% url 'posts:post_detail' post.pk %}"> <b>Комментарии ({{post.comments.count}}) </b></a>
  </p> 