{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Записи группы по интересам
{% endblock %}

{% block main %}
<h2><center> {{group.title}} </center></h2>
<p><b><center>
  {{ group.description }}
</center></b></p>
<!-- класс py-5 создает отступы сверху и снизу блока -->
  {% for post in page_obj %}
  <ul>
    <li>
      Автор: {{ post.author.get_full_name }}
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  {% thumbnail post.image "300" as im %}
  <center> <a href="{{ post.image.url }}">
    <img src="{{ im.url }}" class="image-detail">
  </a></center>
  {% endthumbnail %}  
  <p>{{ post.text }}</p>
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}

{% block footer %}
  <footer class="page-footer font-small blue border-top">
    <div class="footer-copyright text-center py-3">© 2020 Copyright 
      <p><span style="color:red">Ya</span>tube</p> 
    </div>    
  </footer>
{% endblock %}
  