{% extends 'base.html' %}

{% block title %}
  Записи группы
{% endblock %}

{% block main %}
<h2><center> {{group.title}} </center></h2>
<p><center>
  {{ group.description }}
</center></p>
<!-- класс py-5 создает отступы сверху и снизу блока -->
  {% for post in posts %}
  <ul>
    <li>
      Автор: {{ post.author.get_full_name }}
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <p>{{ post.text }}</p>
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
{% endblock %}

{% block footer %}
  <footer class="page-footer font-small blue border-top">
    <div class="footer-copyright text-center py-3">© 2020 Copyright 
      <p><span style="color:red">Ya</span>tube</p> 
    </div>    
  </footer>
{% endblock %}
  