<!DOCTYPE html>
{% extends 'base.html' %}
{% load thumbnail %}

{% block main %}
<html lang="ru">
  <head>
    <title>Пост</title>
  </head>
  <body>
    {% if messages %}
        <ul>
          {% for message in messages %}
            {% if message.tags %} {% endif %}
            <p style="background-color:#c7f285" align="center"><b>{{ message }} </b></p>
          {% endfor %}
         </ul>
      {% endif %}
          <ul>
            <li >
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
            {% if post.group %}  
            <li>
              Группа:
              <a href="{% url 'posts:groups_posts' post.group.slug %}">
                {{post.group.title}}
              </a>
            </li>
            {% endif %}
            <li>
              Автор: {{ post.author}}
            </li>
            <li >
              Всего постов автора:  <span ><!-- --></span>
            </li>
            <li >
                <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
            </li>
          </ul>
          {% thumbnail post.image "300" as im %}
          <center> <a href="{{ post.image.url }}">
              <img src="{{ im.url }}" class="image-detail">
          </a></center>
        {% endthumbnail %}  
          <p>{{ post.text }}</p>

          <!-- Лайки -->
      {% include 'posts/includes/likes.html'%}
      {% include 'posts/comments.html'%}
  </body>
</html>
{% endblock  %}