<!DOCTYPE html>
{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Профайл пользователя {{human}}
{% endblock %}

{% block main %}
<html lang="ru"> 
 

  <li class="list-group-item">
    {% if user != human %}
      {%if is_follower%}
         <a class="btn btn-lg btn-light" 
            href="{% url 'posts:profile_unfollow' human %}" role="button"> 
            Отписаться 
          </a> 
      {%else%}
          <a class="btn btn-lg btn-primary" 
            href="{% url 'posts:profile_follow' human %}" role="button">
                  Подписаться 
            </a>
      {%endif%}
      {%if user.is_superuser or user.is_staff%}
        <a class="btn btn-lg btn-danger" 
         href="{% url 'posts:ban' human %}" role="button">
            Заблокировать 
         </a>
        <a class="btn btn-lg btn-danger" 
           href="{% url 'posts:moderate' human %}" role="button">
            Нарушения 
         </a>

      {%endif%}
    {%endif%}
</li>

  <body>       
    <main>
    {% if messages %}
        <ul>
          {% for message in messages %}
            {% if message.tags %} {% endif %}
            <p style="background-color:#c7f285" align="center"><b>{{ message }} </b></p>
          {% endfor %}
         </ul>
      {% endif %} 
      <div class="container py-5"> 

        <h1><a href="{% url 'posts:profile' human %}"> @{{human}} </a></h1>

        <style>
          .edit {
            float: right
          }
        </style>
        <div class="edit">
        {%if human == user%}
        <a class="btn btn-lg btn-primary" 
            href="{% url 'posts:user_profile' user.id %}" role="button">
                  Редактировать
            </a>
      
        {%endif%}
        <br>
       <p> Подписчики ({{count_of_follower}}) </p>
        {% for h in followers %}
        <a href="{% url 'posts:profile' h %}">
           <img class="rounded-circle account-img" src="{{  h.profile.image.url }}"  height=50 width=50>
        </a>
        
        {% endfor %}
        
      </div>
      {% comment %} <img class="rounded-circle account-img" src="{{  human.profile.image.url }}"  height=100 width=100><br><br>
        <hr>  {% endcomment %}

      <div class="row">
        <div class="col-md-1">
          <figure>
              <img src="{{ human.profile.image.url  }}" class="rounded-circle account-img" height=100 width=100 alt="{{ profile }}">
          </figure>
      </div>
        <div class="col-md-9">

         <div class="card-text">
             <ul>
                 <li><b>Телеграм:</b> @{{human.profile.tg}} </li>
                 <li><b>Подписок:</b> {{count_of_followee}} </li>
                 <li><b>Подписчиков:</b> {{count_of_follower}} </li>
                 {% if user.is_staff or user.is_superuser or user == human%}
                   {%if human.profile.is_ban%} 
                     <li><b>Блокировка:</b> Да </li>
                     <li><b>Время разбана:</b> {{human.profile.time}} </li>
                     <li><b>Причина:</b> {{human.profile.reason_ban}} </li>
                    {% else %} 
                    <li><b>Блокировка: Нет </b></li>
                   {%endif%}
                  {%endif%}
             </ul>
         </div>
     </div>
    </div>
<hr>
        <h3>Всего постов: {{number_posts}}</h3>   
        <article>
          {% include 'posts/includes/paginator.html' %}
            {% for post in page_obj %}
            <ul>
              <li>
                Автор: {{ human }}
              </li>
              <li>
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
              </li>
              {% if post.group %} 
              <li>
                Группа: {{ post.group.title }} <a href="{% url 'posts:groups_posts' post.group.slug %}">все записи группы</a>
              </li>
              {% endif %} 
            </ul>
            {% thumbnail post.image "300" as im %}
            <center> <a href="{{ post.image.url }}">
              <img src="{{ im.url }}" class="image-detail">
            </a></center>
            {% endthumbnail %}  
            <p>{{ post.text }}</p>    
            <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
            {% if not forloop.last %}<hr>{% endif %}
          {% endfor %}
        </article> 
        <hr>
      </div>
    </main>
  </body>
</html>
{% endblock %}