{% extends "base.html" %}
{% block title %}Восстановление пароля{% endblock %}
{%block main%}
    <main>
      <div class="container py-5"> 
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">
               Письмо было отправлено на электронную почту
              </div>
              <div class="card-body">
                <p>Перейдите по ссылке в письме</p>
              </div> 
            </div> 
          </div>
        </div> 
      </div>
 {%endblock%}
