{% extends "base.html" %}
{% block title %}Пароль изменен{% endblock %}
{%block main%}
      <div class="container py-5"> 
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">
                Пароль успешно изменен
              </div>
              <div class="card-body">
                <a href="{% url 'posts:index' %}">Войти</a>
              </div> 
            </div> 
          </div>
        </div> 
      </div>
{%endblock%}